@font-face {
  font-weight: $font-normal;
  font-style: normal;
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
}

@font-face {
  font-weight: $font-bold;
  font-style: normal;
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2"), url("../fonts/opensansbold.woff");
}
