html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-white;
  color: $color-black;
  font-weight: $font-normal;
  font-size: 15px;
  font-family: $main-font;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
dd,
dt,
button,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

input,
textarea {
  font-weight: $font-normal;
  font-size: 17px;
  font-family: $main-font;

  @media (--tablet) {
    font-size: 19px;
  }
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

input::placeholder {
  color: $color-placeholder;
  font-weight: $font-normal;
  font-size: 17px;
  font-family: $main-font;
  line-height: auto;
  opacity: 1;

  @media (--tablet) {
    font-size: 19px;
  }
}
