/* --------- Font-family --------- */

$main-font: "Open Sans",
Arial,
sans-serif;
$font-bold: 700;
$font-normal: 400;

/* --------- Colors: Base --------- */

$color-black: #000000;
$color-white: #ffffff;

/* --------- Colors: Brand --------- */

$color-brand: #63d1bb;
$color-sub-brand: #56c3b2;
$color-hover-brand: #59d5bc;
$color-hover-sub-brand: #46c1ae;
$color-svg: #46c1ae;
$color-checked: #62d1ba;

/* --------- Colors: Grey --------- */

$grey-gravel: #444444;
$grey-whitesmoke: #f1f1f1;
$grey-snow: #ececec;
$grey-lightgray: #c6c6c6;
$grey-whites: #e5e5e5;
$grey-dark: #5e5e5e;

/*--------- Modal --------- */

$modal-shadow: rgba(0, 1, 1, 0.25);
$modal-border: $grey-lightgray;
$modal-subtitle: $grey-gravel;
$modal-btn: $color-brand;

/*--------- Footer --------- */

$footer-border: $grey-whites;

/*--------- Z-index ---------*/

$zindex-header: 1000;
$zindex-nav-mobile: 1200;
$zindex-notify: 1300;
$zindex-modal: 1400;

/*--------- button color (for control,size) --------- */

$button-border: $grey-snow;

/*--------- Фон для header и footer --------- */

$bg-color: $grey-whitesmoke;

/*--------- Form --------- */

$color-placeholder: rgba(68, 68, 68, 0.3);

/*--------- Mobile container --------- */

$container-mobile-width: 320px;

/*--------- Media Queries --------- */

@custom-media --tablet (width >=768px);
@custom-media --desktop (width >=1150px);
@custom-media --retina (min-resolution: 144dpi),
(min-resolution: 1.5dppx);
@custom-media --mobile-widths-only (width <=767px);
