.btn {
  display: block;
  padding: 10px 0;
  width: 100%;
  border: 2px solid $grey-gravel;
  color: $grey-gravel;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 18px;

  &:hover,
   :focus {
    background-color: $grey-gravel;
    color: $color-white;
    transition: 0.2s;
  }
  &:active {
    color: $grey-dark;
    transition: 0.2s;
  }
}
