.contact__title {
  position: relative;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 1.67;

  @media (--tablet) {
    @mixin tablet-title;

    margin-bottom: 37px;

    &::after {
      position: absolute;
      top: -12px;
      right: 0;
      bottom: 0;
      left: 93%;
      width: 47px;
      height: 82px;
      background-image: resolve("icon-flag.svg");
      background-repeat: no-repeat;
      content:'';
    }
  }
  @media (--desktop) {
    @mixin desktop-title;
  }

}
.contact__info {
  color: $grey-gravel;
  font-style: normal;
  font-size: 15px;
  line-height: 2;

  @media (--tablet) {
    margin-bottom: 65px;
    margin-left: 3px;
    font-size: 17px;
    line-height: 1.76;
  }
}
.contact__data-info {
  display: flex;
  flex-wrap: wrap;

  @media (--tablet) {
    justify-content: flex-start;
  }
}
.contact__data-name {
  margin-bottom: 15px;
  width: 77px;
}
.contact__data-value {
  width: 145px;

  @media (--tablet) {
    flex: 2;
  }
}
.contact__data-indent {
  @mixin pre-indent;

  @media (--tablet) {
    @mixin pre-indent;
  }
}
.contact__data-name,
.contact__data-value {
  margin-top: 13px;
}
.contact__data-value-link {
  padding-bottom: 3px;
  color: $grey-gravel;

  &--border {
    border-bottom: 1px solid $color-brand;

    &:hover,:focus {
      color: $color-brand;
    }
    &:active {
      color: $color-brand;
      opacity: 0.3;
    }
  }
}
.contact__map {
  /*position: absolute;*/
  margin-bottom: 30px;
}
.contact__btn {
  @media (--tablet) {
    margin-right: auto;
    margin-left: auto;
    width: 34.5%;
  }
}



