.content-catalog__section-top {
  margin-bottom: 26px;

  @media (--tablet) {
    margin-bottom: 68px;
  }
  @media (--desktop) {
    margin-bottom: 110px;
  }
}

.content-catalog__production-process {
  margin-bottom: 58px;

  @media (--tablet) {
    margin-bottom: 58px;
  }
  @media (--desktop) {
    margin-bottom: 100px;
  }
}
