.content-form__section-top {
  margin-bottom: 20px;

  @media (--tablet) {
    margin-bottom: 60px;
  }
  @media (--desktop) {
    margin-bottom: 75px;
  }
}

.content-form__form-desc {
  margin-bottom: 26px;

  @media (--tablet) {
    margin-bottom: 75px;
  }
  @media (--desktop) {
    margin-right: auto;
    margin-left: auto;
    padding-top: 28px;
  }
}
