.container {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  width: $container-mobile-width;
}

@media (--tablet) {
  .container {
    padding: 0;
    width: 668px;
  }
}

@media (--desktop) {
  .container {
    width: 1050px;

    &--contact {
      width: auto;
    }
  }
}
