.container {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  width: $container-mobile-width;
}
@media (--tablet) {
  .container {
    width: 668px;
  }
}

@media (--desktop) {
  .container {
    width: 1150px;
  }
}



