.main-form__border {
  border: none;
}
.main-form__legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-secondary;
}
.main-form__radio,
.main-form__checkbox,
.main-form__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
.main-form__rule {
  font-size: 14px;
  line-height: 16px;
  color: $color-gray;
}
.main-form__btn {
  background: transparent;
  margin-bottom: 55px;
  padding: 16px 45px;
}

input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-gray;
  opacity: 0.3;
}
input:-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-gray;
  opacity: 0.3;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid $color-main;
  padding: 20px 0;
  min-width: 260px;
  outline: none;
  background: $color-white;
}

textarea {
  border: 2px solid $color-main ;
  background: $color-white;
  min-width: 260px;
  min-height: 142px;
  margin-top: 20px;

}
