.main-form {
  margin: 0;
}

.main-form__border {
  margin-bottom: 7px;
  padding: 0;
  border: none;

  &--type {
    margin-bottom: 10px;
  }
  &--phone {
    margin: 17px 0;

    @media (--tablet) {
      margin-bottom: 14px;
    }
  }
  &--email {
    margin-bottom: 16px;
  }
}

.main-form__legend {
  position: relative;
  display: block;
  margin-bottom: 33px;
  color: $color-brand;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 0.94;

  &::after {
    position: absolute;
    top: 7px;
    right: 0;
    left: 57px;
    width: 198px;
    border: 1px solid $color-brand;
    content: "";

    @media (--tablet) {
      display: none;
    }
  }
  &--short-line::after {
    left: 75px;
    width: 179px;
  }
  &--margin-color {
    margin-bottom: 26px;
  }
  &--margin-name-enter {
    margin-bottom: 24px;
  }
  &--contact-margin {
    margin-bottom: 8px;
  }
}

.main-form__value,
.main-form__label-value {
  position: relative;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 1.06;

  @media (--tablet) {
    font-size: 19px;
    line-height: 0.95;
  }
}

.main-form__value--name-margin {
  margin-right: 25px;

  @media (--tablet) {
    margin-bottom: 45px;
  }
}

.main-form__list {
  margin: 0;
}

.main-form__label-value {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  word-wrap: break-word;
  cursor: pointer;

  &--radio {
    align-items: flex-start;
    margin-bottom: 24px;
  }
}


/* Radio */

.main-form__input-radio:checked+.main-form__label-value::after {
  position: absolute;
  top: 2px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-checked;
  content: "";

  @media (--tablet) {
    top: 0;
    left: 15px;
    width: 21px;
    height: 21px;
  }
}

.main-form__label-value--radio::before {
  flex-shrink: 0;
  margin-top: -10px;
  width: 39px;
  height: 39px;
  border: 2px solid $grey-gravel;
  border-radius: 50%;
  content: "";
  cursor: pointer;

  @media (--tablet) {
    margin-top: -15px;
    margin-bottom: 15px;
    width: 52px;
    height: 52px;
  }
}

.main-form__label-value:hover::before {
  border: 2px solid $color-checked;
  transition: 0.2s;
}

.main-form__label-value:active::before {
  border: 2px solid $grey-gravel;
  opacity: 0.3;
  transition: 0.2s;
}


/* Checkbox */

.main-form__input-checkbox:checked+.main-form__label-value::after {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 23px;
  height: 33px;
  background: url("../img/icon-tick.svg") no-repeat;
  background-size: 100%;
  content: "";
  cursor: pointer;

  @media (--tablet) {
    top: 15px;
    left: 9px;
    width: 33px;
    height: 22px;
  }
}

.main-form__label-value::before {
  flex-shrink: 0;
  margin-right: 23px;
  width: 40px;
  height: 39px;
  border: 2px solid $grey-gravel;
  content: "";
  cursor: pointer;

  @media (--tablet) {
    margin-right: 26px;
    width: 52px;
    height: 52px;
  }
}


/* ФИО */

.main-form__value {
  display: block;
  padding-top: 10px;
}

.main-form__name-enter {
  margin-bottom: 15px;
  padding-right: 45px;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 -2px 0 $color-black;
  white-space: initial;
  line-height: 1;

  @media (--tablet) {
    padding-right: 68px;
    padding-left: 15px;
  }
  @media (--desktop) {
    padding-left: 20px;
    width: 700px;
    height: 48px;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $color-checked;
    transition: 0.2s;
  }
}

.main-form__message-textarea {
  overflow: auto;
  margin-top: 20px;
  padding: 14px 12px;
  min-height: 142px;
  width: 100%;
  height: 142px;
  outline: none;
  border: 2px solid $color-black;
  background: transparent;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.06;
  resize: vertical;

  @media (--tablet) {
    overflow: hidden;
    margin-bottom: 45px;
    font-size: 19px;
    line-height: 0.95;
  }
  @media (--desktop) {
    width: 700px;
  }

  &::placeholder {
    color: $color-placeholder;
    opacity: 1;
  }
  &:hover,
  &:focus {
    border: 2px solid $color-checked;
    transition: 0.2s;
  }
}

.main-form__rule {
  margin-bottom: 35px;
  color: $grey-gravel;
  font-size: 14px;
  line-height: 1.14;

  @media (--tablet) {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.76;
  }
}

.main-form__btn {
  margin-bottom: 50px;
  padding: 14px 0;
  background-color: $color-white;
  cursor: pointer;

  @media (--tablet) {
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.main-form__name-enter:focus+.main-form__input-icon {
  path {
    fill: $color-checked;
    fill-opacity: 1;
  }
}

.main-form__input-icon {
  position: absolute;
  top: 9px;
  right: 2px;
  pointer-events: none;

  @media (--tablet) {
    top: 7px;
    right: 23px;
  }
  @media (--desktop) {
    right: 59px;
  }

  &--phone {
    top: 8px;
    right: 6px;

    @media (--tablet) {
      top: 9px;
      right: 26px;
    }
  }
}


/* планшет и десктоп */

.main-form__legend-flex {
  @media (--tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 auto;
    width: 668px;
  }
  @media (--desktop) {
    justify-content: space-around;
    width: 1047px;
  }
}

.main-form__bg-color {
  @media (--tablet) {
    margin-right: calc(-100vw / 2 + 668px / 2);
    margin-bottom: 50px;
    margin-left: calc(-100vw / 2 + 668px / 2);
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: $grey-whitesmoke;

    &--margin {
      margin-top: 24px;
      margin-bottom: 30px;
      padding-top: 31px;
      padding-bottom: 16px;
    }
  }
  @media (--desktop) {
    margin-right: calc(-100vw / 2 + 1050px / 2);
    margin-left: calc(-100vw / 2 + 1050px / 2);

    &--margin {
      margin-bottom: 35px;
    }
  }
}

.main-form__wrapper-label {
  position: relative;

  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 502px;
  }
  @media (--desktop) {
    margin-right: 80px;
    width: 758px;

    &--margin {
      margin-right: 90px;
    }
  }

  path {
    fill-opacity: 0.2;
  }
  &:hover,
  &:focus {
    path {
      transition: 0.2s;
      fill: $color-checked;
      fill-opacity: 1;
    }
  }
}


/*.main-form__name-enter {
  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $color-checked;
    transition: 0.2s;
  }
   @media (--desktop) {
     padding-left: 25px;
   }
}*/

.main-form__inner-legend {
  @media (--tablet) {
    &--align-type {
      align-self: flex-start;
    }
    &--align-color {
      align-self: flex-start;
      margin-top: 17px;
    }
  }
  @media (--desktop) {
    padding-left: 22px;

    &--padding {
      padding-left: 32px;
    }
  }
}

.main-form__inner-label {
  @media (--tablet) {
    width: 238px;

    &--width-radio {
      width: 100%;
    }
  }
  @media (--desktop) {
    width: 230px;

    &--width-radio {
      width: 100%;
    }
  }
}

.main-form__inner-full-name {
  @media (--tablet) {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
  @media (--tablet) {
    width: 700px;
  }
}

.main-form__wrapper-btn {
  @media (--tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  @media (--desktop) {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    width: 700px;
  }
}
