.modal {
  padding: 37px 30px 47px 30px;
  background-color: $color-white;
}
.modal__title {
  margin-top: -9px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 25px;
  line-height: 1.2;

  @media (--tablet) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.9;
  }
}

.modal__data-indent {
  @mixin pre-indent;

  @media (--tablet) {
    &:after {
      content:"\a";
      white-space: normal;
    }
  }
}
.modal__subtitle {
  margin-bottom: 25px;
  color: $modal-subtitle;
  text-align: center;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 2;

  @media (--tablet) {
    font-size: 17px;
    line-height: 1.76;
  }
}
.modal__sizes {
  display: flex;
  justify-content: center;
}
.modal__size {
  margin-bottom: 30px;
  padding: 14px 33px;
  outline: none;
  border: 2px solid $button-border;
  background-color: $color-white;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 17px;

  @media (--tablet) {
    padding: 14px 48px;
  }

  &:not(:last-child) {
    margin-right: 7px;
  };
  &--active {
    border-color: $color-brand;
  }
  &:hover {
    border: 2px solid rgba(68,68,68,0.3);
  }
}
.modal__add-basket {
  padding: 17px 0;
  border: none;
  background-color: $modal-btn;
  color: $color-white;
  font-size: 17px;

  @media (--tablet) {
    margin: 0 auto;
    width: 68%;
  }
}
