.page-header {
  position: relative;
}
.page-header__nav {
  display: flex;
  display: none;
  flex-direction: column;
  z-index: $zindex-nav-mobile;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 1.41;
}

.page-header__item {
  text-align: center;
  padding: 32px 0 30px;
  &:not(:last-child) {
  box-shadow: inset 0 1px 0 $grey-snow, 0 1px 0 $grey-snow;
}
}
.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px; /* временно */
}
.page-header__menu-toggle {
  position: absolute;
  top: 27px;
  left: 260px;
}




