.product-week__title {
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 1.2;
}
.product-week__subtitle {
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 0.94;
  color: $color-brand;
  text-transform: uppercase;
  margin-top: 8px;
}
.product-week__desc {
  margin-top: 28px;
  color: $grey-gravel;
}
.product-week__data-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  font-size: 15px;
  line-height: 1.33;
}
.product-week__data-title {
  width: 60px;
}
.product-week__data-subtitle {
  width: 129px;
}
.product-week__data-subtitle,
.product-week__data-title {
  margin-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-snow;
}
.product-week__img {
  margin-top: 14px;
}
.product-week__price {
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 1.41;
  color: $grey-gravel;
  text-align: center;
  padding: 20px 0 28px 0;
}
.product-week__order {
  font-size: 17px;
  line-height: 0.94;
}
