.product-card {
  margin-top: 30px;
  border:  1px solid $grey-snow;
}
.product-card__inner {
  padding: 22px 27px 28px 28px;
}
.product-card__title {
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 1.41;
  margin-bottom: 7px;
}
.product-card__desc {
  width: 204px;
  font-size: 13px;
  line-height: 2.31;
  color: $grey-gravel;
  border-bottom: 1px solid $grey-snow;
  padding-bottom: 17px;
  margin-bottom: 22px;
}
.product-card__add-cart {
  display: flex;
  align-items: center;
}
.product-card__price {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: $font-bold;
  line-height: 1.6;

}
.product-card__add-basket {
  font-size: 0;
  fill-opacity: 0.2;
  &:hover #basket {
    fill-opacity: 1;
    fill: $color-brand;
  }
    &:active #basket {       /* Правилно ли делать так? */
    fill-opacity: 0.3;
    fill: $color-brand;
  }
}


