.production-process {
  display: flex;
  flex-direction: column;
  border: 1px solid $grey-snow;
  padding-bottom: 4px;
  margin-bottom: 58px;
}
.production-process__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px 29px 25px 18px;
}
.production-process__title {
  width: 126px;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 1.41;
}
.production-process__inner {
  padding: 18px 34px 28px 34px;
  order:;
}
.production-process__desc {
  font-size: 13px;
  line-height: 1.85;
  color: $grey-gravel;
  margin-bottom: 22px;
}
.production-process__video {
  margin-bottom: 10px;
}
.production-process__order {
  padding:  11px 0;
}
