.product-card {
  display: flex;
  flex-direction: column;
  border:  1px solid $grey-snow;

  @media (--tablet) {
    flex-direction: row;
  }
  @media (--desktop) {
    flex-direction: column;
  }
}
.product-card__inner {
  padding: 22px 27px 28px 28px;
  width: 100%;

  &:hover,&:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}
.product-card__title {
  margin-bottom: 7px;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 1.41;

  @media (--tablet) {
    font-size: 20px;
    line-height: 1.2;
  }

  & a {
    color: $color-black;
  }
}
.product-card__desc {
  margin-bottom: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid $grey-snow;
  color: $grey-gravel;
  font-size: 13px;
  line-height: 2.31;

  @media (--tablet) {/*временный паддинг*/
    padding-bottom: 175px;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 2;
  }
  @media (--desktop) {
    padding-bottom: 43px;

    &--padding-for-border {
      padding-bottom: 20px;
    }
  }
}

.product-card__add-cart {
  display: flex;
  align-items: center;
}
.product-card__price {
  display: block;
  width: 100%;
  font-weight: $font-bold;
  font-size: 15px;
  line-height: 1.6;

  @media (--tablet) {
    font-size: 17px;
    line-height: 1.41;
  }
}
.product-card__add-basket {
  font-size: 0;

  path {
    fill-opacity: 0.2;
  }
  &:hover, &:focus {
    path {
      fill: $color-brand;
      fill-opacity: 1;
    }
  }
  &:active {
    path {
      fill: $color-brand;
      fill-opacity: 0.3;
    }
  }
}

