.section-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid $grey-snow;
  background: $bg-color;
  background-size: cover;

  @media (--tablet) {
    margin-top: -61px;

    &--padding-for-decor {
      padding-bottom: 17px;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-size: auto 23px;
      background-repeat: repeat-x;
      content: "";
    }
  }
  @media (--desktop) {
    &--padding-for-decor {
      padding-bottom: 11px;
    }
    &::after {
      height: 34px;
      background-size: auto 100%;
    }
  }

  &--bg-image {
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -17px;
    background-size: auto auto;
    background-repeat: no-repeat;

    @media (--retina) {
      background-color: #f9f9f9;
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
      background-repeat: no-repeat;
    }
    @media (--tablet) {
      background-color: #f9f9f9;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center top;

      @media (--retina) {
        background-color: #f9f9f9;
        background-image: url("../img/hero-desktop@2x.jpg");
        background-position: center top;
        background-size: 1150px auto;
      }
    }
  }
}

.section-top__title {
  padding-top: 68px;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  width: 100%;
  text-align: center;
  font-weight: $font-bold;
  font-size: 27px;
  line-height: 1.11;

  @media (--tablet) {
    @mixin tablet-title;

    padding-top: 90px;
    padding-bottom: 98px;

    &--margin-for-main-page {
      padding-top: 153px;
      padding-bottom: 373px;
    }
    &--catalog {
      padding-top: 95px;
      padding-bottom: 93px;
    }
  }
  @media (--desktop) {
    @mixin desktop-title;

    padding-top: 95px;
    padding-bottom: 120px;

    &--margin-for-main-page {
      padding-top: 153px;
      padding-bottom: 360px;
    }
  }

  &--margin-for-main-page {
    padding-top: 72px;
    padding-bottom: 123px;
  }
}

.section-top__items {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: -5px;
  padding-top: 5px;
  width: 100%;

  @media (--tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.section-top__item {
  position: relative;
  margin-bottom: -5px;
  padding-bottom: 5px;
  background-color: $color-brand;
  background-repeat: no-repeat;
  color: $color-white;
  font-weight: $font-bold;
  font-size: 19px;
  line-height: 1.26;

  @media (--tablet) {
    font-size: 20px;
    line-height: 1.5;
  }

  &:nth-child(even) {
    background-color: $color-sub-brand;

    &:hover,
    &:focus {
      background-color: $color-hover-sub-brand;
      transition: 0.2s;
    }
  }
  path {
    fill: #149080;
    fill-opacity: 0.5;
  }
  &:hover,
  &:focus {
    background-color: $color-hover-brand;
    transition: all 0.2s;
    transform: translateY(-5px);

    path {
      transition: 0.2s;
      fill-opacity: 0.7;
    }
  }
  &:active {
    color: rgba(256, 256, 256, 0.3);
    transition: 0.2s ease;

    path {
      transition: 0.2s ease;
      fill-opacity: 0.3;
    }
  }
}

.section-top__item-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 0 12px 29px;
  width: $container-mobile-width;

  @media (--tablet) {
    padding: 29px 0 27px 34px;
    width: 334px;
  }
  @media (--desktop) {
    width: 525px;
  }
}

.section-top__icon-inner {
  margin-right: 7px;
  width: 100px;
  text-align: center;
}
