.wrapper-products__item {
  margin-bottom: 31px;

  @media (--tablet) {
    margin-bottom: 52px;
  }
  @media (--desktop) {
    margin-bottom: 55px;
  }
}

.wrapper-products {
  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
